@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
body {
    background-color: #020405;
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#header {
    text-align: center;
}

#header > h1 {
    color: #4ec2b7;
    font-weight: 700;
    font-size: 45px;
}

#header > p {
    width: 500px;
    display: inline-block;
    margin-top: -1.5%;
}

#attach {
    text-align: center;
}

#attach > div {
    background-color: #0B131C;
    height: 50px;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    margin-left: 15vw; /* bs centering logic because im tired atm, fix later */
    margin-right: 15vw;
}

#attach > div > span {
    transform: translateY(50%);
}
/* Fix up css when you get bored and decide to make public */

#attach > div > span:first-child {
    color: #4ec2b7;
    min-width: 250px;
    max-width: 250px;
    float: left;
}

#attach > div > span:nth-child(2) {
    min-width: 75px;
    max-width: 75px;
    float: left;
}

#attach > div > span:nth-child(3) {
    min-width: 500px;
    max-width: 500px;
    float: left;
}

#attach > div > span:nth-child(4) {
    min-width: 100px;
    max-width: 100px;
    float: left;
}
